@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Nunito:bold');
@import url('https://fonts.googleapis.com/css?family=Karla|Karla:bold');

/* Variables */
:root {
  --font-family: "Karla", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #191851;
  --bg-color0: #1d1c69d2;
  --bg-color2: #2f2da546;
  --bg-color3: #28286e;
  --primary-color: #ffffff;
  --secondary-color: #d11616;
  --primary-shadow: #192183;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.75rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --transition2: 0.7s;
  --boxShadow1: rgba(25, 34, 131, 0.397);
  --boxShadow2: rgba(0, 0, 0, 0.281);
  --borderColor1: rgba(0, 0, 0, 0.89);

  --spacing-medium: 1rem;
  --spacing-large: 1.1875rem;
  --border-radius-default: 0.5rem;
  --color-borders-hairline: #2f2da5a8;

  --color-borders-highlight: #2f2da5ce;
  --color-highlight: rgb(255, 255, 255);

}
/* Variables end */

html {
  scroll-behavior: smooth;
  background-color: var(--bg-color0);
  background: linear-gradient(in hsl, var(--bg-color), var(--bg-color3));
}


/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

nav ul li {
  font-weight: var(--bold-font);
}

a:hover {
  cursor: pointer;
  color: var(--secondary-color);
  text-shadow:  2px, 2px, 10px #ffffff;
}

body {
  font-family: var(--font-family);
}

section {
  width: 100%;
  /*max-height: 40rem;
  margin-right: 0;*/
 
}

h1:hover {
  cursor: default;
}


h2 {
  cursor: default;
  margin-bottom: 1rem;
}

/* CSS Resets end */

/* Navbar */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  background-color: var(--bg-color);
  /*border-bottom: 2px solid rgb(0, 0, 0);
  /*box-shadow: 0px 4px 0px rgba(25, 34, 131, 0.397);*/
  scroll-behavior: smooth;
  
}

#hamburger-nav {
  display: none;
}

nav h1 {
  color: var(--primary-color);
  font-size: xx-large;
}


nav a {
  color: var(--primary-color);
  transition: var(--transition);
  scroll-behavior: smooth;
  font-size: x-large;
  
}
nav li:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  cursor: pointer;
}


.navigation {
  display: flex; /* makes the buttons list horizontally */
  gap: 1.9rem;
}

nav img{
  margin: 0;
  padding: 0;
}

nav img:hover{
  color: var(--secondary-color);
  /* background: url("../icons/githubBlack.png") no-repeat; */
}

/* Hero section */

.about h1 {
  margin-left: 1rem;
  margin-right: 1rem;

  color: #fff;
  width: 100%;
  height: 15vh;
  text-align: center;
  margin-top: 4%;
  font-weight: bold;
  font-size: 8vh;
}


.about img {
  
  height: 55vh;
  width: 55vh;

  border-radius: 25%;
  border: 15px solid rgb(255, 255, 255);

  box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.4);
  padding: -0.325rem;

  transition: var(--transition);
  transform: scale(1);
  
}

.about img:hover{
  transition: var(--transition);
  transform: scale(1.2);
}

.about {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4.5rem;
  margin: auto;
  margin-bottom: 15%;
  scroll-behavior: smooth;

}

.about div:hover{
  width: 28.5rem;
  padding: 1.5rem;
  border-radius: 0%;
}

.about h2 {
  margin-bottom: 4rem;
  color: #fff;
}

.about p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
  color: #fff;
}
/* Hero section ends */

/* More about */
.more-about {
  background-color: var(--bg-color2);
  padding: 1rem 6rem;
  margin-top: 4%;
  border-radius: 1%;
  align-items: center;
  justify-content: center;
  width: 100%;

  
  padding-top: 8%;
  padding-bottom: 8%;
  margin-top: 10%;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
  color: #fff;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0;
  color: #fff;
  text-align: left;
  margin: 0;
}
/* More about ends */


.skills {
  margin-bottom: var(--bottom-margin);
  text-align: center;
  color: #fff;
  background-color: var(--bg-color2);
  padding: 1rem 6rem;
  margin-top: 4%;
  border-radius: 1%;
  align-items: center;
  justify-content: center;
  width: 100%;

  
  padding-top: 8%;
  padding-bottom: 10%;
  margin-top: 10%;

  /*margin-bottom: 1rem;*/

  div{
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }

  h1 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
    color: #fff;
    padding: 1rem 6rem;
    border-radius: 1%;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1rem;
  }

  li {
    margin-left: .5rem;
    margin-right: .5rem; 

    img {
      width: clamp(32px, 6vw, 50px);
      height: auto;
      max-height: 50px;
      display: block;
      transition: var(--transition);
      transform: scale(1);
      
  
      &:hover {
        transition: var(--transition);
        transform: scale(1.2);
      }
    }




  }

}


.languages {
  

  img {
    max-width: 50px;
    max-height: 60px;
  }


}

.skill-title {
  line-height: var(--line-height);
  padding: 0.4rem;
  color: #fff;
  text-align: center;
  font-size: large;

}

.skills-wrapper img {
  padding: 1.25rem;
}



.icon {
  width: 11.875rem;
  height: 11.25rem;
}
/* Skills section ends */

/* Projects section */
.projects {
  background-color: var(--bg-color);
  padding: 2rem;
  padding-bottom: 4rem;
  margin-top: 2rem;
  min-height: 14rem;

  padding-top: 8%;
  padding-bottom: 10%;

  margin-top: 10%;

}

.projects h2{
  line-height: var(--line-height);
  padding: 0.4rem;
  color: #fff;
  text-align: center;
  margin: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}




.project-content {
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #ffffffb0;
  font-size: small;
  align-content: center;
  display: grid;
  justify-content: center;
  text-align: center;
}

.project-text {
  margin-bottom: var(--bottom-margin);
  color: #ffffffb0;
  font-size: small;
  align-content: center;
  display: grid;
  justify-content: center;
  text-align: center;
}

/* Projects section ends */

/* Contacts section */
.contact {
  background-color: var(--bg-color2);
  padding: 1rem 6rem;
  margin-top: 4%;
  border-radius: 1%;
  align-items: center;
  justify-content: center;
  width: 100%;
  /*margin-top: 2rem;*/
}
.contact p {
  line-height: var(--line-height);
  text-align: center;

  padding: 0.4rem;
  color: #fff;
}



.websites {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 1.4rem;
  color: #fff;
}

.websites a {
  border-radius: 10px;
  align-items: center;
  padding: 2.5rem;
  color: #fff;

  transition: var(--transition);
  
  border: none;
  box-shadow: none;

}

.websites a:hover {
  
  transition: var(--transition);

  background-color: var(--bg-color);
  border-radius: 10px;

  
  border: solid 1px rgba(0, 0, 0, 0.082);
  background: linear-gradient(var(--bg-color2), var(--bg-color));;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.websites a img {
  transition: var(--transition);
  transform: scale(1);
}
.websites a img:hover {
  transition: var(--transition);
  transform: scale(1.2);
}

.project-link {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 1.4rem;
  color: #fff;

  a {
    border-radius: 10px;
    align-items: center;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    
    color: #fff;

    transition: var(--transition);
    
    border: none;
    box-shadow: none;

    img {
    transition: var(--transition);
    transform: scale(1);
 
      &:hover {
        transition: var(--transition);
        transform: scale(1.2);
      }
    }

    &:hover {
  
    transition: var(--transition);

    background-color: var(--bg-color);
    border-radius: 10px;

    
    border: solid 1px rgba(0, 0, 0, 0.082);
    background: linear-gradient(var(--bg-color2), var(--bg-color));;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    }
  }
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
  line-height: var(--line-height);
  padding: 0.4rem;
  color: #fff;
}

.contact p {
  font-size: large;
  font-weight: var(--bold-font);
}

/* Contacts section ends */

/* Social buttons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

/* General (utilities) */
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.aboutText {
  margin: 0.75rem;
}

.projects-container {
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 4fr);

}


.project-title {
  text-align: center;
  margin-bottom: 1rem;
  
  align-content: center;
  display: grid;
  justify-content: center;
}



.project-item:hover{
  transition: var(--transition);
  transform: scale(1.2);
}

.project-item:hover .tech-list{
  transition: var(--transition2);
  max-height: 100%;
}


.project-list {
  display: inline-grid;
  column-gap: .5rem;
  row-gap: 1rem;

  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0;

  width: 100%;
}

.project-list > li {
  display: flex;
  justify-content: center;
  align-items: center;

}


.project-item{

  display: flex;
  position: relative;
  flex-direction: column;
  
  border: solid 1px rgba(0, 0, 0, 0.082);
  background: linear-gradient(var(--bg-color2), var(--bg-color));;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  min-width: 25vw;
  min-height: 100%;

  width: 25vw;
  margin: 1rem;

  padding-block-start: var(--spacing-medium);
  padding-block-end: var(--spacing-medium);
  padding-inline-start: var(--spacing-large);
  padding-inline-end: var(--spacing-large);
  border-radius: var(--border-radius-default);


  transition: var(--transition);
  transform: scale(1);
  
  a {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    text-wrap: wrap;
    
    padding: 0;
    height: fit-content;
    text-wrap: none;
  }
  
}


.tech-list-holder {
  margin: 0;
  height: 4rem;
  display: flex;
  bottom: 0;
  flex-direction: column;
  justify-content: flex-end;
}

.tech-list {

  position: absolute;
  bottom: 0;

  margin-bottom: .75rem;
  display: flex;

  flex-wrap: wrap;
  justify-content: left;
  
  gap: 0.1rem;

  max-height: 0;
  overflow: hidden;

  li {

    bottom: 0;
    display: flex;
    justify-content: center;
  
    margin: 0.1rem;
    padding: 0.1rem;
    
    border: 2px solid var(--color-borders-hairline);
    border-radius: 0.5rem;
    color: var(--color-highlight);
    background-color: var(--color-borders-highlight);
  }

}


.blog-post{
  
  justify-content: center;
  text-align: center;
  margin: 1rem;



  p {
    font-size: 1.125rem;
    line-height: var(--line-height);
    padding: 0.4rem;
    color: #fff;
  }

  h2 {
    text-align: center;
    margin: 1rem;   
    font-size: 2rem;
    line-height: var(--line-height);
    padding: 0.4rem;
    color: #fff;
  }

  .blog-post-date {
    font-size: 0.875rem;
    color: #aaa;
  }

  
  .blog-post-content p {
    font-size: 1rem;
    line-height: 2rem;
    padding: 0.4rem;
    color: #fff;
    margin-left: 4rem;
    margin-right: 4rem;
  }

}


.small-video {
  width: 100%;
  max-width: 500px;   /* or any max width you prefer */
  height: auto;
  max-height: 60vh;   /* keeps it from getting too tall */
  display: block;
  margin: 2rem auto;  /* centers the video */
}

iframe {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 2px solid #191851;
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {


  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    left: 0;
    align-items: end;
    justify-content: end;
  }

  .hamburger-menu {
    position: absolute;
    top: 100%;
    right: 0;
    overflow: hidden;
    width: fit-content;
    max-height: 0;
    background-color: var(--bg-color);

    li {
      text-align: center;
      background-color: var(--bg-color0);
      margin: 0.25rem;
      border-radius: 6px;
      padding: 0.3rem;
     }   

  }

  .hamburger-icon span {
    display: block;
    margin: 6px;
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
  }

  .hamburger-menu.show {
    max-height: 100vh;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid var(--bg-color);

    transition: max-height 0.3s ease-in;
  }
  
  .hamburger-icon.show span:first-child{
    transition: var(--transition);
    transform: rotate(45deg) translate(10px, 3px);
  }
  
  .hamburger-icon.show span:nth-child(2){
    transition: var(--transition);
    opacity: 0;
  }
  
  .hamburger-icon.show span:last-child{
    transition: var(--transition);
    transform: rotate(-45deg) translate(10px, -3px);
  }

  .hamburger-icon span:first-child{
    transition: var(--transition);
    transform: none;
  }
  
  .hamburger-icon span:nth-child(2){
    transition: var(--transition);
    opacity: 1;
  }
  
  .hamburger-icon span:last-child{
    transition: var(--transition);
    transform: none;
  }

  .hamburger-icon:hover {
    cursor: pointer;
    transition: var(--transition);
    transform: scale(1.1);
  }

  .about img {
    height: 40vh;
    width: 40vh;
  }

  .skills {

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: .5rem;
      padding: 1rem;
    }
  
    li {
      margin-left: .2rem;
      margin-right: .2rem;

    }
  
    img {
      max-width: 18px;
      max-height: 20px;

      
    }  
  
  }


  .project-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-item {
      
    min-width: 50vw;
    max-height: 20vh;

    height: 20vh;
    width: 60vw;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: left;
  }


  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }

  .small-video {
    max-width: 95vw;
    max-height: 40vh;
  }
}
