@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Nunito:bold');
@import url('https://fonts.googleapis.com/css?family=Karla|Karla:bold');

/* Variables */
:root {
  --font-family: "Karla", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #191851;
  --bg-color0: #1d1c69d2;
  --bg-color2: #2f2da546;
  --primary-color: #ffffff;
  --secondary-color: #d11616;
  --primary-shadow: #192183;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.75rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --boxShadow1: rgba(25, 34, 131, 0.397);
  --boxShadow2: rgba(0, 0, 0, 0.281);
  --borderColor1: rgba(0, 0, 0, 0.89);

  --spacing-medium: 1rem;
  --spacing-large: 1.1875rem;
  --border-radius-default: 0.5rem;
  --color-borders-hairline: #2f2da5a8;

  --color-borders-highlight: #2f2da5ce;
  --color-highlight: rgb(255, 255, 255);

}
/* Variables end */

html {
  scroll-behavior: smooth;
  background-color: var(--bg-color0);
  background: linear-gradient(var(--bg-color), var(--bg-color0) );
}


/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

nav ul li {
  font-weight: var(--bold-font);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

section {
  /* max-width: 1100px;
  margin: auto; */
}

/* CSS Resets end */

/* Navbar */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  background-color: var(--bg-color);
  /*border-bottom: 2px solid rgb(0, 0, 0);
  /*box-shadow: 0px 4px 0px rgba(25, 34, 131, 0.397);*/
  scroll-behavior: smooth;

  
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
  scroll-behavior: smooth;
}
nav li:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

a:hover{
  text-shadow:  2px, 2px, 10px #ffffff;
}

nav ul {
  display: flex; /* makes the buttons list horizontally */
  gap: 1.9rem;
}

nav img{
  margin: 0;
  padding: 0;
}

nav img:hover{
  color: var(--secondary-color);
  /* background: url("../icons/githubBlack.png") no-repeat; */
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

/* Hero section */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.5rem;
  max-width: 67.75rem;
  margin: auto;
  margin-bottom: 15%;
  scroll-behavior: smooth;

}

.about img {
  height: 37.5rem;
  width: 30.5rem;
  border-radius: 2%;
  border: 3px solid var(--borderColor1);
  box-shadow: 10px 10px 0px var(--boxShadow2);
  margin-top: 5%;
  padding: -0.325rem;
  transition: var(--transition);
  transform: scale(1);
  
}

.about img:hover{
  height: 38.5rem;
  width: 31.5rem;
  padding: 0rem;
  border-radius: 0%;
  

}

.about div {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  border: 3px solid var(--borderColor1);
  box-shadow: 8px 8px 0px var(--boxShadow2);
  transition: var(--transition);
  background-color: var(--bg-color2);
}

.about div:hover{
  width: 28.5rem;
  padding: 1.5rem;
  border-radius: 0%;
}

.about h2 {
  margin-bottom: 4rem;
  color: #fff;
}

.about p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
  color: #fff;
}
/* Hero section ends */

/* More about */
.more-about {
  background-color: var(--bg-color2);
  padding: 1rem 6rem;
  margin-top: 4%;
  border-radius: 1%;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
  color: #fff;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
  color: #fff;
  text-align: center;
  margin: 2rem;
}
/* More about ends */

/* Skills section */
.skills {
  background-color: var(--bg-color2);
  padding: 1rem 6rem;
  margin-top: 4%;
  border-radius: 1%;
  align-items: center;
  justify-content: center;
  width: 100%;
 
  /*max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;*/
}

.skills h1 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
  color: #fff;
  padding: 1rem 6rem;
  border-radius: 1%;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.skills div{
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

}

.skills {
  margin-bottom: var(--bottom-margin);
  text-align: center;
  color: #fff;
  background-color: var(--bg-color2);
  padding: 1rem 6rem;
  margin-top: 4%;
  border-radius: 1%;
  align-items: center;
  justify-content: center;
  width: 100%;
  /*margin-bottom: 1rem;*/
}

.skill-title {
  line-height: var(--line-height);
  padding: 0.4rem;
  color: #fff;
  text-align: center;
  font-size: large;

}

.skills-wrapper img {
  padding: 1.25rem;
}



.icon {
  width: 11.875rem;
  height: 11.25rem;
}
/* Skills section ends */

/* Projects section */
.projects {
  background-color: var(--bg-color);
  padding: 2rem;
  padding-bottom: 4rem;
  margin-top: 2rem;
  min-height: 14rem;
}

.projects h2{
  line-height: var(--line-height);
  padding: 0.4rem;
  color: #fff;
  text-align: center;
  margin: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 4fr);

}


.project-title {
  text-align: center;
  margin-bottom: 1rem;
  
  align-content: center;
  display: grid;
  justify-content: center;
}

.project-item{
  background: var(--bg-color);
  border: solid 2px black;
  width: 80%;
  height: 80%;
  display: grid;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: auto;

  padding-block-start: var(--spacing-medium);
  padding-block-end: var(--spacing-medium);
  padding-inline-start: var(--spacing-large);
  padding-inline-end: var(--spacing-large);
  border-radius: var(--border-radius-default);
}

.project-item a{
  padding: 0rem;
  margin: auto;
  height: fit-content;
}

.project-item:hover{
  width: 90%;
  height: 90%;
  transition: var(--transition);
  transform: scale(1);
}

.project-content {
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #ffffffb0;
  font-size: small;
  align-content: center;
  display: grid;
  justify-content: center;
  text-align: center;
}

.project-text {
  margin-bottom: var(--bottom-margin);
  color: #ffffffb0;
  font-size: small;
  align-content: center;
  display: grid;
  justify-content: center;
  text-align: center;
}

/* Projects section ends */

/* Contacts section */
.contact {
  background-color: var(--bg-color2);
  padding: 1rem 6rem;
  margin-top: 4%;
  border-radius: 1%;
  align-items: center;
  justify-content: center;
  width: 100%;
  /*margin-top: 2rem;*/
}
.contact p {
  line-height: var(--line-height);
  text-align: center;

  padding: 0.4rem;
  color: #fff;
}



.websites {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 1.4rem;
  color: #fff;
}

.websites a {
  align-items: center;
  padding: 2.5rem;
  color: #fff;
}


.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
  line-height: var(--line-height);
  padding: 0.4rem;
  color: #fff;
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
/* Contacts section ends */

/* Social buttons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}
/* Social button ends */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Scroll to top button ends */

/* Footer section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
/* Footer section ends */

/* General (utilities) */
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    height: 37.5rem;
    width: 30rem;
  }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}
